body {
	margin: 0;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: darkolivegreen;
}

.wrapper {
    width: 100%; /* Mobile */
    margin: 0 auto;
}

.bold {
	font-weight: bold;
}

.destacado {
	color: #de2378;
}

#elMasDestacado {
	color: rgba(111, 99, 89, 0.32);
	background-color: crimson;
	text-decoration: underline;
	padding: 10px 20px;
}

nav.menu {
	background-color: blue;
}

nav.menu ul {
	list-style-type: none;
	color: white;
	height: 45px;
	padding: 10px 5%;
}

nav.menu#menuDesktop ul li {
	display: inline-block;
	box-sizing: border-box;
	width: 25%;
	height: 50px;
}

nav.menu#menuDesktop ul li:nth-child(1) {
	background-color: red;
}

nav.menu#menuDesktop ul li:nth-child(2) {
	background-color: green;
}

nav.menu#menuDesktop ul li:nth-child(3) {
	background-color: black;
}

nav.menu#menuDesktop ul li:nth-child(4) {
	background-color: blue;
}

nav.menu#menuMobile ul li {
	text-align: center;
}

nav.menu ul a {
	color: white;
	text-decoration: none;
}

.crazy-table {
	border-spacing: 0;
}

.crazy-table td {
	width: 98px;
	height: 98px;
	border: 1px solid black;
	padding: 0;
}

.crazy-table td.nw {
	border-right: none;
}

.crazy-table td.ne {
	border-bottom: none;
}

.crazy-table td.sw {
	border-top: none;
}

.crazy-table td.se {
	border-left: none;
}

.crazy-table td.red {
	background-color: red;
}

.crazy-table td.green {
	background-color: green;
}

.crazy-table td.blue {
	background-color: blue;
}

.crazy-table td.yellow {
	background-color: yellow;
}

.crazy-table td.image-container {
	border: none;
}

.crazy-table td.image-container img {
	max-width: 100%;
	display: block;
}

.box-responsive {
	float: left;
	width: calc(100% - 2px);
	height: 238px;
	border: 1px solid black;
	background-color: crimson;
	margin-bottom: 5px;
}


@media screen and (min-width: 481px) {
	.wrapper {
		width: 480px;
	}

	.box-responsive {
		width: calc(50% - 2px);
	}
}


@media screen and (min-width: 961px) {
	.wrapper {
		width: 960px;
	}

	.box-responsive {
		width: calc(33.33% - 2px);
	}
}






