.wrapper {
    /* width: 100%; // Mobile */
    width: 720px;
    margin: 0 auto;
}

header, footer {
    background-color: blue;
    color: white;
    text-align: center;
}

header, footer, #main {
    float: left;
    width: 100%;
}

.col-50 {
    width: 50%;
    /* width: 50%; */
}

.left {
    float: left;
    background-color: rgba(0,0,255,0.2);
}

.right {
    float: right;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
}

.absolute {
    position: absolute;
}

.one {
    top: 120px;
    left: 80px;
}

.two {
    bottom: 120px;
    right: 80px;
}

.relative {
    position: relative;
    height: 450px;
}